.block {
  width: 178px;
  height: 150px;
  border: 1px solid black;
}

.color {
  min-height: 300px;
  max-width: 180px;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.count {
  text-align: center;
}

.palette {
  min-height: 400px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid black
}

.pallete-color {
  min-width: 270px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.square {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.palletes {
  justify-content: center;
}

.description {
  font-weight: 700;
  word-break: break-word;
  font-size: small;
  margin: 5px 0;
}

.total-amount {
  font-weight: 300;
  font-size: small;
  margin: 5px 0;
}